body {
	padding-top: 50px;
}

.jumbotron {
	margin-top: 20px;
}

#footer {
	background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%);
	  background-image: linear-gradient(to bottom, #3c3c3c 0%, #222222 100%);
	  background-repeat: repeat-x;
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
	  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	  color: #999;
	  margin: 100px 0 0;
}

#footer p {
	padding:30px 0 20px;
}